<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img th:src="@{~/images/logo_small.jpeg}" alt="image not found" style="width:40px;"/>
            </a>
            <ul class="nav navbar-nav">

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">N5 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/posts/N5/{category}(category=9)}">Từ vựng </a></li>
                        <li><a th:href="@{/posts/N5/{category}(category=10)}">Kanji </a></li>
                        <li><a th:href="@{/posts/N5/{category}(category=11)}">Ngữ pháp </a></li>
                        <li><a th:href="@{/posts/N5/{category}(category=12)}">Đọc hiểu </a></li>
                        <li><a th:href="@{/posts/N5/{category}(category=13)}">Đề thi </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">N4 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/posts/N4/{category}(category=9)}">Từ vựng </a></li>
                        <li><a th:href="@{/posts/N4/{category}(category=10)}">Kanji </a></li>
                        <li><a th:href="@{/posts/N4/{category}(category=11)}">Ngữ pháp </a></li>
                        <li><a th:href="@{/posts/N4/{category}(category=12)}">Đọc hiểu </a></li>
                        <li><a th:href="@{/posts/N4/{category}(category=13)}">Đề thi </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">N3 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/posts/N3/{category}(category=9)}">Từ vựng </a></li>
                        <li><a th:href="@{/posts/N3/{category}(category=10)}">Kanji </a></li>
                        <li><a th:href="@{/posts/N3/{category}(category=11)}">Ngữ pháp </a></li>
                        <li><a th:href="@{/posts/N3/{category}(category=12)}">Đọc hiểu </a></li>
                        <li><a th:href="@{/posts/N3/{category}(category=13)}">Đề thi </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">N2 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/posts/N2/{category}(category=9)}">Từ vựng </a></li>
                        <li><a th:href="@{/posts/N2/{category}(category=10)}">Kanji </a></li>
                        <li><a th:href="@{/posts/N2/{category}(category=11)}">Ngữ pháp </a></li>
                        <li><a th:href="@{/posts/N2/{category}(category=12)}">Đọc hiểu </a></li>
                        <li><a th:href="@{/posts/N2/{category}(category=13)}">Đề thi </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">N1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/posts/N1/{category}(category=9)}">Từ vựng </a></li>
                        <li><a th:href="@{/posts/N1/{category}(category=10)}">Kanji </a></li>
                        <li><a th:href="@{/posts/N1/{category}(category=11)}">Ngữ pháp </a></li>
                        <li><a th:href="@{/posts/N1/{category}(category=12)}">Đọc hiểu </a></li>
                        <li><a th:href="@{/posts/N1/{category}(category=13)}">Đề thi </a></li>
                    </ul>
                </li>

                <li><a href="#">Tiếng nhật IT</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">IT <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Java cơ bản</a></li>
                        <li><a href="#">Spring Boot </a></li>
                    </ul>
                </li>

            </ul>

<!--            Search-->
            <form class="navbar-form navbar-left" action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
                <input type="text" th:field="*{term}" class="form-control mb-3" id="term" placeholder="term to search">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <div sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{~/login}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{~/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated()">
                <p class="navbar-brand navbar-right">Xin chào <span th:text="${user.fullname}"> User</span></p>
                <p class="navbar-brand navbar-right">   </p>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav navbar-nav navbar-toggler " th:href="@{#}">
                    <img th:src="@{~/images/icon_jp.png}" alt="image not found" style="width:40px;"/>
                </a>
                </li>
                <li> <a class="nav navbar-nav navbar-toggler " th:href="@{#}">
                    <img th:src="@{~/images/icon_vn.png}" alt="image not found" style="width:40px;"/>

                </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>