<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script>

            // Function to check Whether both passwords
            // is same or not.
            function checkPassword(form) {
                password1 = form.password.value;
                password2 = form.password2.value;

                // If password not entered
                if (password1 == '')
                    alert ("Please enter Password");

                // If confirm password not entered
                else if (password2 == '')
                    alert ("Please enter confirm password");

                // If Not same return False.
                else if (password1 != password2) {
                    alert ("\nPassword did not match: Please try again...")
                    return false;
                }

                // If same return True.
                else{
                    alert("Password Match")
                    return true;
                }
            }
        </script>
    <style>
            .gfg {
                font-size:40px;
                color:green;
                font-weight:bold;
                text-align:center;
            }
            .geeks {
                font-size:17px;
                text-align:center;
                margin-bottom:20px;
            }
        </style>
</head>
<body>

<div th:replace="fragments/header :: header"> </div>
<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You have signed up successfully!
                    <p>Please check your email to verify your account.</p>
                </div>
            </div>

            <h1>Đăng ký</h1>

            <form th:action="@{/registration}" onSubmit = "return checkPassword(this)" method="post" th:object="${user}">

                <div class="form-group">
                    <label class="control-label" for="fullname"> Full Name </label> <input
                        id="fullname" class="form-control" th:field="*{fullname}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label>
                    <input
                        id="password" name="password" placeholder="Enter your new password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus" />
                </div>

                <p>
                    <input type="password" name="password2" id="confirm-password" class="form-control"
                           placeholder="Confirm your new password" required autofocus />
                </p>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Đăng ký</button>
                    <span>Đã có tài khoản ? <a href="/" th:href="@{/login}">Đăng nhập</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>